.collection-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* padding: 10px; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.collection-card-header {
  margin-bottom: 5px;
}

.collection-card-header h3 {
margin: 10px 0px;
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.collection-stats {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.85rem;
  color: #666;
}

.reversible-badge {
  background-color: #e3f2fd;
  color: #1976d2;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}

.collection-card-body {
  flex-grow: 1;
  margin-bottom: 20px;
}

.collection-description {
  margin: 0;
  color: #555;
  font-size: 0.95rem;
}

.collection-card-footer {
  margin-top: auto;
}

.question-count-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 15px;
  justify-content: space-evenly;
}

.view-collection-button {
  --button-back-color: var(--color-gray);
}

.question-count-options {
  --button-h-padding: 20px;
  --button-v-padding: 10px;
  --button-back-color: var(--color-cyan);
}