.collection-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.collection-table th,
.collection-table td {
  border: 1px solid #bbb;
  padding: 8px;
}
.collection-table th {
  background-color: #96e1ff;
  text-align: left;
}
.collection-table tr:nth-child(even) {
  background-color: #f1f1f1;
}
.collection-table tr:nth-child(odd) {
  background-color: #fff;
}
.collection-table tr:hover {
  background-color: #c2ecfd;
}
